</br>

<div id="comments"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>

<script async src="https://talk.hyvor.com/embed/embed.js" type="module"></script>

<script>
	const comments = document.createElement('hyvor-talk-comments');
    comments.setAttribute('website-id', 8448);
    comments.setAttribute('page-id', "{{ comment_id }}");
	{{#if @member}}
        comments.setAttribute('sso-user', btoa(JSON.stringify({
            timestamp: Math.floor(Date.now() / 1000),
            id: "{{ @member.uuid }}",
            name: "{{ @member.name}}",
            email: "{{ @member.email}}",
            picture_url: "{{ @member.avatar_image }}"
        })))
    {{/if}}
    document.getElementById("comments").appendChild(comments);
</script>
